<a href="https://colab.research.google.com/github/Galagha01/100-days-of-code/blob/master/summarizing_aggregation_lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

# Create sample sales data
data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
               'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product': ['Laptop', 'Laptop', 'Laptop', 'Laptop', 'Phone', 'Phone', 'Phone', 'Phone',
                'Tablet', 'Tablet', 'Tablet', 'Tablet', 'Monitor', 'Monitor', 'Monitor', 'Monitor'],
    'Sales': [45000, 38000, 52000, 41000, 28000, 35000, 31000, 29000,
              15000, 18000, 16000, 14000, 22000, 25000, 21000, 23000],
    'Units': [30, 25, 35, 28, 140, 175, 155, 145, 75, 90, 80, 70, 88, 100, 84, 92]
}

# Create a pandas DataFrame from the data
df = pd.DataFrame(data)

# Display the DataFrame
print("Sample Sales Data:")
print(df)

Sample Sales Data:
   Region  Product  Sales  Units
0   North   Laptop  45000     30
1   South   Laptop  38000     25
2    East   Laptop  52000     35
3    West   Laptop  41000     28
4   North    Phone  28000    140
5   South    Phone  35000    175
6    East    Phone  31000    155
7    West    Phone  29000    145
8   North   Tablet  15000     75
9   South   Tablet  18000     90
10   East   Tablet  16000     80
11   West   Tablet  14000     70
12  North  Monitor  22000     88
13  South  Monitor  25000    100
14   East  Monitor  21000     84
15   West  Monitor  23000     92

**Task 1: Basic Summary Statistics**

Calculate and display the following for the entire dataset:

*   Mean sales
*   Median sales
*   Standard deviation of units sold
*   Minimum and maximum sales values

In [14]:
# Calculate basic summary statistics for the entire dataset
mean_sales = df['Sales'].mean()
median_sales = df['Sales'].median()
std_units = df['Units'].std()
min_sales = df['Sales'].min()
max_sales = df['Sales'].max()

# Display the calculated statistics with clear labels
print("Basic Summary Statistics:")
print(f"Mean Sales: {mean_sales}")
print(f"Median Sales: {median_sales}")
print(f"Standard Deviation of Units Sold: {std_units}")
print(f"Minimum Sales: {min_sales}")
print(f"Maximum Sales: {max_sales}")

Basic Summary Statistics:
Mean Sales: 28312.5
Median Sales: 26500.0
Standard Deviation of Units Sold: 46.53958888229819
Minimum Sales: 14000
Maximum Sales: 52000

**Task 2: Group by Region**

Group the data by Region and calculate:

*   Total sales for each region
*   Average units sold per region

Display the results sorted by total sales in descending order

In [15]:
# Group data by 'Region' and calculate total sales and average units
region_summary = df.groupby('Region').agg(
    Total_Sales=('Sales', 'sum'),
    Average_Units=('Units', 'mean')
).sort_values(by='Total_Sales', ascending=False) # Sort by total sales in descending order

# Display the regional summary
print("Summary by Region (Sorted by Total Sales):")
print(region_summary)

Summary by Region (Sorted by Total Sales):
        Total_Sales  Average_Units
Region
East         120000          88.50
South        116000          97.50
North        110000          83.25
West         107000          83.75

**Task 3: Group by Product**

Group the data by Product and find:

*   The total units sold for each product
*   The average sales value for each product

In [16]:
# Group data by 'Product' and calculate total units and average sales
product_summary = df.groupby('Product').agg(
    Total_Units=('Units', 'sum'),
    Average_Sales=('Sales', 'mean')
)

# Display the product summary
print("Summary by Product:")
print(product_summary)

Summary by Product:
         Total_Units  Average_Sales
Product
Laptop           118        44000.0
Monitor          364        22750.0
Phone            615        30750.0
Tablet           315        15750.0

**Task 4: Multiple Aggregations**

Group the data by Product and calculate multiple statistics at once:

*   For Sales: sum, mean, and max
*   For Units: sum and mean

Display this as a nicely formatted table using the agg() function.

In [17]:
# Group data by 'Product' and calculate multiple statistics for Sales and Units
multiple_agg_summary = df.groupby('Product').agg(
    Sales_Sum=('Sales', 'sum'),
    Sales_Mean=('Sales', 'mean'),
    Sales_Max=('Sales', 'max'),
    Units_Sum=('Units', 'sum'),
    Units_Mean=('Units', 'mean')
)

# Display the multiple aggregation summary
print("Multiple Aggregation Summary by Product:")
print(multiple_agg_summary)

Multiple Aggregation Summary by Product:
         Sales_Sum  Sales_Mean  Sales_Max  Units_Sum  Units_Mean
Product
Laptop      176000     44000.0      52000        118       29.50
Monitor      91000     22750.0      25000        364       91.00
Phone       123000     30750.0      35000        615      153.75
Tablet       63000     15750.0      18000        315       78.75